.container-quiz {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e5e5e5;
}

.container-quiz-category {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e5e5e5;
}

.container-quiz-category .quiz-category {
    background-color: #fff;
    color: #d6d6d6;
    padding: 7px;
}

.container-quiz-category .quiz-category:hover {
    cursor: pointer;
    color: #337ab7;
}

.container-quiz-category .quiz-category.active {
    color: #337ab7;
    padding: 5px;
    border: 2px #337ab7 solid;
}

.container-quiz-category .container-quiz-category-footer {
    padding-bottom: 5px;
    padding-top: 5px;
}

.container-quiz-category .container-quiz-category-footer a.hidden-quiz-category {
    color: #fff;
}

.container-quiz-category .container-quiz-category-footer a.hidden-quiz-category:hover {
    color: #337ab7;
}

.container-quiz-category .container-quiz-category-footer a.quiz-category-value {
    color: #337ab7;
}

.container-question {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e5e5e5;
}

.container-question .question {
    position: relative;
}

.container-question .question {
    position: relative;
}

.container-question .question-index {
    color: #337ab7;
}

.container-question .question a.close-question {
    position: absolute;
    top : 2.5px;
    right: 5px;
    font-size: 20px;
    color: #e5e5e5;
}

.container-question .question a.close-question:hover {
    color: #337ab7;
}

.container-question .answer {
    position: relative;
}

.container-question .answer a.close-answer {
    position: absolute;
    top : 2.5px;
    right: 5px;
    font-size: 20px;
    color: #e5e5e5;
}

.container-question .answer a.close-answer:hover {
    color: #337ab7;
}

.container-question .answer input {
    padding-right: 70px;
}

.container-question .answer a.attach-image {
    position: absolute;
    top : 2.5px;
    right: 35px;
    font-size: 20px;
    color: #e5e5e5;
}

.container-question .answer a.attach-image:hover {
    color: #337ab7;
}

.container-question .answer a.add-answer {
    text-decoration: underline;
}

.add-question {
    color: #337ab7;
}

.container-question .question-setting .tab-content div {
    background-color: #fff;
}

.container-question .question-setting .tab-content a {
    color: #337ab7;
}

.container-question .question-setting .tab-content a.active {
    border: 1px solid #337ab7;
    background-color: #fff;
}

.result-container-question {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e5e5e5;
}

.result-container-question .question-index {
    color: #337ab7;
}

.result-container-question .container-result {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    background-color: #f9f9f9;
}

.result-container-question .container-result .result-score {
    display: none;
}

.result-container-question .container-result.active {
    background-color: #B7F5B6;
}

.result-container-question .container-result.active .result-score {
    display: block;
}

.result-container-question .container-result:hover {
    cursor: pointer;
}

.container-grade {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e5e5e5;
}

.container-grade .grade-title {
    position: relative;
}

.container-grade .grade-title .close-grade {
    position: absolute;
    top : 2.5px;
    right: 5px;
    font-size: 20px;
    color: #e5e5e5;
}

.container-grade .grade-title .close-grade:hover {
    color: #337ab7;
}

.container-grade .grade-title .attach-image {
    position: absolute;
    top : 2.5px;
    right: 35px;
    font-size: 20px;
    color: #e5e5e5;
}

.container-grade .grade-title .attach-image:hover {
    color: #337ab7;
}

.add-grade {
    color: #337ab7;
}

.container-setting {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e5e5e5;
}

.container-setting .set-time-out-container {
    display: none;
}

.container-setting .add-quiz-before {
    color: #337ab7;
}

.container-process {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e5e5e5;
}

.container-process div {
    background-color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
}

.container-process div i {
    margin-right: 5px;
}

.container-share {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e5e5e5;
}

.container-share div {
    background-color: #fff;
}

.container-share .container-result-share {
    padding: 20px;
}

.container-share .container-result-embed {
    padding: 20px;
}

.container-share .container-result-embed .container-result-embed-code {
    padding: 10px;
    background-color: #e5e5e5;
    font-style: italic;
    font-size: 11px;
    font-weight: 800;
}
