.quiz-container-main {
    height: ' + q_height + 'px;
}

.quiz-container-title {
    background-color:#5bc0de;
    padding-top:5px; 
    padding-bottom:5px;
    color: #fff;
}

.quiz-container-start {
    height: ' + (q_height - 19) + 'px;
}

.quiz-button-start {
    margin-top:' + (q_height - 65)/2 + 'px;
}

.quiz-container-question {
    padding-top:5px;
    padding-bottom:5px;
    padding-left:30px;
}

.quiz-container-answer {
    padding-top:5px;
    padding-bottom:5px;
    padding-left:30px;
}

label.quiz_label_check {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}

input[type=radio].quiz_input_check {
    display: none;
}

label.quiz_label_check:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #5bc0de;
    border-radius: 8px;
}

input[type=radio].quiz_input_check + label.quiz_label_check:before {
    border-radius: 8px;
}

input[type=radio].quiz_input_check:checked + label.quiz_label_check:before {
    content: "\\2022";
    color: #fff;
    font-size: 29px;
    text-align: center;
    line-height: 17px;
}

input[type=checkbox].quiz_input_check {
    display: none;
}

label.quiz_label_check:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #5bc0de;
}

input[type=checkbox].quiz_input_check + label.quiz_label_check:before {
    border-radius: 3px;
}

input[type=checkbox].quiz_input_check:checked + label.quiz_label_check:before {
    content: "\\2713";
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 17px;
}

.quiz-container-pagination {
    margin-top: 0px;
    text-align: center;
    padding-bottom: 10px;
}

a.quiz-container-pagination-next {
    margin-left: 15px;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    line-height: 15px;
}

a.quiz-container-pagination-previous {
    margin-right: 15px;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    line-height: 15px;
}

.quiz-container-result {
    padding:' + (q_height - 65)/2 + 'px;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: #5bc0de;
}