.quiz-container {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.quiz-container h3 {
    font-size: 18px;
}

.quiz-container div:nth-of-type(2) a {
    margin-right: 10px;
}

.publish-container h2 {
    margin-bottom: 30px;
}

.publish-container-content {
    padding: auto 10px;
}

.publish-container-content i {
    color: #337ab7;
}

.publish-container-content div {
    text-align: justify;
}