body {
    padding-top: 55px;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-top-bottom-20 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.padding-top-bottom-10 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.margin-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.input-no-radius {
    border-radius: 0px;
}

.btn-no-radius {
    border-radius: 0px;
}

.btn-full {
    width: 100%;
}

h2.line {
    color: #ccc;
    font-size: 15px;
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #ccc; 
    line-height: 0.1em;
    margin: 10px 0 10px; 
} 

h2.line span { 
    background:#fff; 
    padding:0 10px; 
}

.nav-tabs li.active a {
    border-radius: 0px;
}

.div-line {
    line-height: 34px;
}

.footer {
    margin-top: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #e5e5e5;
}

.footer .container a {
    margin-left: 15px;
    margin-right: 15px;
}

.footer .container a {
    text-decoration: none;
}
